body{

    text-align: center; margin-top: 100px;
    background-color: rgb(113, 99, 99); height: 2px;
    }
    
    h1{
    
    color: rgb(0, 1, 2); margin-bottom: 60px;
     
    }
    
    #logo{
    
    padding: 30px;
    
    }
    
    #sutiuos{
    text-align: center;
    padding-top: 20px;
    
    }
    